/* style.css par Julien Bernard le 20/03/12 */

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #3498db;
}

@font-face{
	font-family: 'MALGUN';
	src: url('malgun.eot');
	src: url('malgun.eot?#iefix') format('embedded-opentype'),
		url('malgun.woff') format('woff'),
		url('malgun.ttf') format('truetype'),
		url('malgun.svg#webfont') format('svg');
	}

a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}
	a:hover {
		color: #111;
	}

img {
	margin-bottom: -4px;
}

#header {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #3498db;
	text-align: center;
	padding-top: 2%;
}
	#header h1 {
		color: white;
		font-weight: normal;
		font-size: 70px;
		margin: 0;
		padding: 0;
		letter-spacing: 3px;
		text-align: center;
		font-family: MALGUN;
		text-shadow: 2px 3px 1px #2980b9;
	}
	#header p {
		font-family: MALGUN;
		color: #D9EFFF;
		font-size: 25px;
		text-shadow: 2px 3px 1px #2980b9;
	}

.navigation {
	width: 100%;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	border-bottom: 1px solid #3498db;
	background: #f8fafa;
	text-align: center;
	letter-spacing: 1px;
	font-family: MALGUN;
	font-size: 18px;
	box-shadow: 1px 1px 6px black;
	margin-top: 3%;
	margin-bottom: 3%;
}
	.navigation a {
		color: #f39c12;
		font-size: 22px;
		display: inline-block;
		padding: 30px;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}
	.navigation a:hover {
		color: white;
		background: #e74c3c;
		text-shadow: 2px 2px 2px #7f8c8d;
	}

#Script {
	display: block;
	width: 80%;
	padding: 2.5%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 12px;
	font-family: Verdana;
	border: 1px solid #999999;
	background-color: #ebebeb;
	letter-spacing: 1px;
}
#Script2 {
	display: block;
	width: 90%;
	padding: 2.5%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 12px;
	font-family: Verdana;
	border: 1px solid #999999;
	background-color: #ebebeb;
	letter-spacing: 1px;
}
	
#main {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	color: #f8fafa;
	font-size: 18px;		
}
	#main h1 {
		font-family: MALGUN;
		font-size: 50px;
		letter-spacing: 3px;
		color: white;
	}
	#main h2 {
		font-family: MALGUN;
		font-size: 30px;
		letter-spacing: 3px;
	}
	#main p {
		font-family: MALGUN;
	}
	.primary {
		background: #2980b9;
		padding-top: 1%;
		padding-bottom: 1%;
		height: 100%;
	}
	.secondary {
		background: #3498db;
		padding-top: 1%;
		padding-bottom: 1%;
		height: 100%;
	}
	.article {
		height: 100%;
		padding-left: 15%;
		padding-bottom: 1px;
	}
	
#footer {
	width: 70%;
	margin: auto;
	padding: 1%;
	background: white;
	text-align: center;
	border-radius: 5px 5px 0 0;
	position: fixed;
	bottom: 0;
	left: 15%;
	font-family: MALGUN;
	font-size: 14px;
}
	
ul {
	margin-top: -5px;
	font-family: MALGUN;
	font-size: 26px;
	color: white;
}
	li {
		list-style-image: url("../img/list.png");
		text-indent: 15px;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}
	li:hover {
		text-indent: 50px;
		cursor: pointer;
	}

.fast-link {
	display: block;
	float: right;
	margin-right: 25%;
	margin-top: 20px;
	font-family: MALGUN;
	font-size: 16px;
	opacity: 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
	.primary:hover .fast-link {
		opacity: 1;
	}
	.secondary:hover .fast-link {
		opacity: 1;
	}
	.fast-link a {
		color: #34495e;
	}
.center {
	display: block;
	margin: 0;
	text-align: center;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}